{{- $name := .Get "name" -}}
{{- $link := .Get "link" -}}
{{- $desc := .Get "desc" -}}
{{- $avat := .Get "avat" -}}
{{- $color := .Get "color" -}}

<a href="{{ $link }}" class="frdLink" style="margin-bottom: 10px; display:block;">
    <div class="frd" style="display: flex;padding: 10px;border: {{ $color }} solid 1px;background: {{ $color }}1A;">
        <div class="frdAvat" style="height: 50px;"><img src="{{ $avat }}" alt="{{ $name }}" style="
    height: 50px;"></div>
        <div style="flex: 1;margin-left: 10px;">
            <div class="frdName" style="color: {{ $color }};font-size: 18px;font-weight: 800;">{{ $name }}</div>
            <div class="frdDesc" style="
    color: white;
">{{ $desc }}</div>
        </div>
    </div>
</a>